body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-color:#2e3739;
  background-color: #ecf0f1;
  margin:0;
}
.container {
  max-width:800px;
  margin:0 auto;
}
h1 {
  font-size:20px;
  margin:0 0 20px;
  line-height: 1.3;
  color:#222;
}
.tagline {
  margin-bottom:60px;
}

.quote {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.navigation {
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  padding:20px;
  margin-bottom:30px;
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  columns: 200px 3;
}
.navigation a {
  color:rgba(0,0,0,.3);
  display:block;
  margin-bottom: 5px;
}
.navigation a.active {
  color:rgba(0,0,0,.7);
  font-weight: bold;
}



#play {
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 8px 20px;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: none;
  background-color: #5c7bc2;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#play:hover {
  background-color: #4e9d41;
  color:#fff;
}
#play[disabled] {
  background:none;
  background-color:#222;
  color:#666;
}
#play[disabled]:hover {
  background-position:0 0;
  color:#666;
}

.share {
  text-align: left;
  padding-left:20px;
}
.share .share-btn {
  margin-bottom: 10px;
}

@media (min-width: 450px) {
  body {
    padding-top:50px;
  }
  h1 {
    font-size:30px;
    margin:0 0 40px;
    line-height: 1.3;
  }
  .quote {
    padding: 60px;
    margin-bottom: 30px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  }
  #play {
    font-size: 20px;
    padding: 10px 40px;
  }
  .navigation {
    font-size: 12px;
  }
  .share {
    margin:0 auto 30px;
    display: inline-block;
    height:30px;
  }
  .share .share-btn {
    text-align: left;
    float:left;
    width:120px;
    height:20px;
  }
}
